<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>General Principles</string>
	<string>Human and Citizen Rights, Freedoms and Duties</string>
	<string>Elections. Referendums</string>
	<string>The Verkhovna Rada of Ukraine</string>
	<string>The President of Ukraine</string>
	<string>The Cabinet of Ministers of Ukraine. Other Executive Authorities</string>
	<string>Public Prosecution</string>
	<string>Justice</string>
	<string>Territorial Structure of Ukraine</string>
	<string>The Autonomous Republic of Crimea</string>
	<string>Local Self-Government</string>
	<string>The Constitutional Court of Ukraine</string>
	<string>Making Amendments to the Constitution of Ukraine</string>
	<string>Final Provisions</string>
	<string>Transitional Provisions </string>
</array>
</plist>
