<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Загальні засади</string>
	<string>Права, свободи та обов&apos;язки людини і громадянина</string>
	<string>Вибори. Референдум</string>
	<string>Верховна Рада України</string>
	<string>Президент України</string>
	<string>Кабінет Міністрів України. Інші органи виконавчої влади</string>
	<string>Прокуратура</string>
	<string>Правосуддя</string>
	<string>Територіальний устрій України</string>
	<string>Автономна Республіка Крим</string>
	<string>Місцеве самоврядування</string>
	<string>Конституційний Суд України</string>
	<string>Внесення змін до Конституції України</string>
	<string>Прикінцеві положення</string>
	<string>Перехідні положення</string>
</array>
</plist>
