<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Общие положения</string>
	<string>Права, свободы и обязанности человека и гражданина</string>
	<string>Выборы. Референдум</string>
	<string>Верховная Рада Украины</string>
	<string>Президент Украины</string>
	<string>Кабинет Министров Украины. Органы исполнительной власти</string>
	<string>Прокуратура</string>
	<string>Правосудие</string>
	<string>Территориальное устройство Украины</string>
	<string>Автономная Республика Крым</string>
	<string>Местное самоуправление</string>
	<string>Конституционный суд Украины</string>
	<string>Внесение изменений в Конституцию Украины</string>
	<string>Заключительные положения</string>
	<string>Переходные положения</string>
</array>
</plist>
